<script type="text/javascript" src="../assets/core.js"></script>

<script type="text/javascript" src="../assets/sd.js"></script>

<style>

  html {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  }

  .header {
    font-size: 2rem;
    margin-left: 1rem;
    width: calc( 100% - 1rem );
  }

  .subHeader {
    font-size: 1.5rem;
    margin-left: 2rem;
    width: calc( 100% - 2rem );
  }

  .text {
    font-size: 1rem;
    margin-left: 3rem;
    width: calc( 100% - 3rem );
    white-space: normal;
    margin-bottom: 2rem;
  }

  .header, .subHeader {
    margin-bottom: 1rem;
  }

  .spacer {
    height: 3rem;
    width: 100%;
    display: block;
  }

  .contentContainer {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
  }

    .titleBar {
      height: 3rem;
      width: 100%;
      font-size: 0px;
      background-color: #8d8d8d;
      color: white;
    }

      .titleBar > div {
        display: inline-block;
      }

      .titleIcon {
        height: 100%;
        width: 3rem;
      }

        .titleIcon img {
          width: 100%;
          height: 100%;
        }

      .titleText {
        height: 100%;
        width: calc( 100% - 4rem );
        font-size: 1.5rem;
        padding-left: 1rem;
        line-height: 3rem;
        vertical-align: top;
      }

    .mainContentOuterContainer {
      height: calc( 100% - 7rem );
      width: 100%;
    }

      .mainContentContainer {
        height: calc( 100% );
        width: calc( 100% );
        font-size: 0px;
      }

        .mainContentContainer > div {
          display: inline-block;
          vertical-align: top;
          font-size: 0px;
        }

        .navigationContainer {
          width: 14rem;
          height: 100%;
          position: relative;
          overflow: hidden;
        }

          .previewScrollerContainer.previewScrollerContainer.previewScrollerContainer {
            text-align: left;
            overflow: hidden;
          }

          .previewScrollerContainer img {
            height: 100%;
            width: 100%;
          }

          .textOverlaysContainer {
            background-color: rgba(128, 128, 128, 0.20);
            font-size: 1rem;
          }

          .scrollerCover {
            background-color: rgba(255, 255, 255, 0.75);
          }

          .navigationContainer .scrollControl {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            text-align: center;
          }

          .scrollerOverlayContainer.scrollerOverlayContainer.scrollerOverlayContainer.scrollerOverlayContainer {
            overflow: hidden;
          }

          .navigationContainer .textOverlaysContainer > div {
            width: 100%;
            height: 2rem;
            display: block;
            line-height: 2rem;
            /*transition: background-color 500ms linear;*/
            text-indent: .5rem;
          }

          .navigationContainer .textOverlaysContainer > div:hover {
            /*background-color: rgba(160, 160, 160, 0.40);*/
            cursor: pointer;
            /*transition: background-color 500ms linear;*/
          }

          .scrollerRegion {
            background-color: rgba(185, 185, 185, 0.50);
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            position: relative;
          }

          .scrollerRegion:hover {
            background-color: rgba(150, 150, 150, 0.50);
            cursor: pointer;
          }

        .innerContentContainer {
          width: calc( 100% - 15rem );
          height: calc( 100% - 1rem );
          padding: .5rem;
          overflow: hidden;
        }

        .innerContentContainer > div {
          width: 100%;
          display: block;
          font-size: 0px;
        }

    .footerContentContainer {
      height: 3rem;
      display: table;
      width: 100%;
      background-color: #8d8d8d;
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

      .mediaContainer {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }

        .mediaContainer > div {
          display: inline-block;
          font-size: 0px;
          margin-left: 1rem;
          margin-right: 1rem;
        }

        .mediaContainer img {
          height: 3rem;
          width: 3rem;
          cursor: pointer;
        }

</style>

<div class="contentContainer">

  <div class="titleBar">
    <div class="titleIcon">
      <img src="../assets/SD_CV.png">
    </div>
    <div class="titleText">
      Brian Sullivan - Senior Full Stack Developer (.NET)
    </div>
  </div>

  <div class="mainContentOuterContainer">
    <div class="mainContentContainer">
      <div class="innerContentContainer">
        <div class="introductionContainer">
          <div class="header">
            Introduction
          </div>
          <div class="subHeader">
            Who am I?
          </div>
          <div class="text">
            I am a Software Developer with a passion for solving problems.  I recently became a father and intend to nurture my son down any road he chooses
            by providing as many opportunities and challenges to him as possible down his road to becoming a man himself.  I believe in grit and hard work 
            and would choose the committed, hard-working man over the reserved, dispassionate genius any day.  I have a long road ahead of me and I wake up 
            every morning. to run as far as I can to reach my destination.
          </div>
          <div class="subHeader">
            What do I do?
          </div>
          <div class="text">
            I love to build solutions.  Professionally, I build software applications with expertise in web applications.  I have spent much of my time and energy
            recently working on my skill set to support optimization practices.  I have found the most satisfaction in knowing not only that I have solved a problem, 
            but that I have provided the best solution I could.  When I am not at work, I enjoying working on personal projects to help me grow in new directions and 
            playing games with my family.
          </div>
          <div class="subHeader">
            What matters to me?
          </div>
          <div class="text">
            Effort, dedication, and resilience matter a lot to me.  How someone thinks about any given subject or how they choose to spend their time is their own business 
            and I will respect anyone's choices so long as they do not impede on the freedoms of others.  How someone acts on their desires does matter to me.  I believe that 
            any goal worth setting is worth taking seriously and chasing and I believe that accountability is crucial while excuses are crippling.  I believe that my happiness 
            has been a reward for continually setting goals that keep me challenged and moving forward and that so long as I can continue to pave a road forward, I can continue 
            to grow, learn, and celebrate success.
          </div>
          <div class="subHeader">
            How can I help you?
          </div>
          <div class="text">
            In order to accomplish my longest term goals, I am in the middle of a long phase of growth professionally.  I am looking for challenges that will give me 
            the opportunities to learn and grow as a developer and as a leader.  If you have problems that you would like my eyes on, I can currently offer my opinion 
            for free as a way to help expose me to a wider variety of challenges out there today while providing the incentive of a free professional opinion.
          </div>
          <div class="spacer">
            
          </div>
        </div>
        <div class="goalsAndDreamsContainer">
          <div class="header">
            Dreams
          </div>
          <div class="subHeader">
            What work is worth waking up at 3 in the morning for?
          </div>
          <div class="text">
            I have a lot of goals ahead of me and I will never reach them if I do not push forward every day.  I have a vision for a making a particular difference in the world.
            I share a dream with my wife of opening a renovated castle as an orphanage and providing as many opportunities through that orphanage to as many children in need as possible.
            Two huge demands for this dream are the funding for it and the knowledge and skills required to organize and manage the orphanage and estate.  I do not have either yet. 
            I look at every minute I waste as a direct insult to my own goals and use that as motivation to keep on track and continue to push forward.  Every morning, I wake up and 
            charge into the day to push as hard as I can through the obstacles that stand between me and my prize.  Each day presents unique opportunities to help me inch closer and closer.
          </div>
          <div class="subHeader">
            What is my 30 year goal?
          </div>
          <div class="text">
            By 60, I need to be ready to execute my plan and purchase the estate for the orphanage and organize and contruction efforts for renovation.  I also need to be ready to 
            setup the orphanage and must be prepared for the long-term demand of managing the orphanage and the unknown issues that will come with it.  I will need a network of
            others that I can rely on to aid in the day to day operations and I need to identify the resources that I will not be able to provide myself and will need to coordinate
            with the appropriate providers to ensure that the orphanage, its staff, and its residents have everything they need.  I also need to have a solid understand of the science 
            behind child development from a young age and into adulthood.
            
            Specifically, I aim to acquire a PhD in Education with a specialization in early childhood development and a firm grasp of how to best help students succeed as they grow.
            I am aiming to also pick up a PhD in Business Administration as the orphanage will operate very similarly to a business and I can set up our organization best for success if 
            I take the time to understand the ins and outs of managing a large scale organization.  The orphanage is not to take in any funding that comes with strings attached, so 
            there needs to be a plan for longevity for the orphanage that does not depend on external influence.  Outside of formal education, I plan to gain as much professional experience 
            as a foot soldier and as a manager or team leader as possible so that I may build up a verbose bank of experiences from both perspectives and use those experiences to help 
            provide challenges to the children that come through the orphanage.
          </div>
          <div class="subHeader">
            What is my 10 year goal?
          </div>
          <div class="text">
            By 40, I plan to have achieved my first masters degree (in business administration) and plan to be working on my masters degree in early childhood education. 
            In order to do this without breaking the bank, I will be following a template my sister set out and followed for a writing degree program.  I will be reviewing multiple 
            online syllabi from various universities for each degree and I will be building my own comprehensive syllabus from what I find.  I will purchase the textbook and study material 
            and will manage the education for myself instead of formally participating in the programs.  This will allow me the freedom to work on the degree whenever I make time at any time of any day 
            and will allow those funds to be invested in the market to grow and become a nice chunk of the funds required to put this plan into action.  I also intend to be managing or leading a team 
            of talented developers within 10 years.  From that position, I intend to present challenges to my team to help each of them grow to the greatest potential they can strive for. 
            I plan to continue with small personal projects outside of work to keep up with changes and trends in technology and the industry so that I may continue to provide relevant challenges 
            that result in meaningful and modern solutions.  I plan to surround myself with coaches that will help me continue to move forward as long as I keep pushing myself and I plan to 
            be as available as possible to those junior to me to allow me to continue to grow as a coach myself.
          </div>
          <div class="subHeader">
            What is my 5 year goal?
          </div>
          <div class="text">
            By 35, I plan to have formal syllabus with reasonable milestones laid out along the path for a masters degree in Business Administration.  I will be at least half way through my syllabus 
            and starting to lay out the syllabus for the masters degree in early childhood education.  At this point, my son will be at a very exciting stage in his life where I will be able 
            to interact with him often and challenge him to go and find the things he enjoys doing.  I will be working hard to see to it that he explores the world around him and begins to 
            carve his own way forward with as much support and love as possible.
          </div>
          <div class="spacer">
            
          </div>
        </div>
        <div class="workHistoryContainer">
          <div class="header">
            The Road Thus Far
          </div>
          <div class="subHeader">
            What have I been doing professionally for the last five years?
          </div>
          <div class="text">
            Five years ago, I was given my first chance by someone who became a coach and inspiration for me.  I started my career as a junior developer with a lot of personal experience but 
            no professional experience.  I dove in head first and was handed a low-risk project that could recover from a junior developer's learning curve.  It was a lot to take in at once 
            and I was afraid at times that I was in over my head, but I was not turning back.  The challenge and the constant motiviation to do better and the urgency to deliver drove me 
            to stop making excuses and to push and push until I finally grasped the project I was handed and began to run through a list of outstanding bugs and enhancement requests that needed attention. 

            Once I instilled some confidence in management, I was given more projects to own and opportunities to learn and grow.  I continued to work on these projects for the next couple of years while I 
            began to be get opportunities to get involved in the hiring process and begin to recruit a team to work with me on various projects.  I have had the fortune of watching those 
            individuals grow and face their challenges while being able to provide support where appropriate and their growth has allowed me to lean on their growing knowledge and stay engaged 
            on the development side of the business.  In the last year I provided a proof of concept to our upper management that was looked at and given a chance.  I ended up investing all of my free time for 
            months into this project and then got clearance to transform it into a project within our organization and work on it during working hours as well.  In the end, I architected, developed, and 
            implemented a pure javascript library that allowed for a customizable data grid to seamlessly scroll through millions of records and allow custom control integration.  I was able to learn 
            a ton about optomization and how to best design interactions between a client and server to streamline data display for record sets of huge scale.
          </div>
          <div class="subHeader">
            What do I do in my spare time?
          </div>
          <div class="text">
            I recently became a father and spend the majority of my free time with my wife and son.  I enjoy cooking (when I don't botch the meal too bad), working on home maintenance projects, 
            playing with my baby boy, playing games with my wife, and challenging myself with personal projects outside of work.  I like to see what amazing things my peers are accomplishing 
            and trying to understand their motivations and processes.  I love taking things apart and learning how they work and occassionally putting them back together without too many complications.
          </div>
          <div class="subHeader">
            What were my high school and college experiences like?
          </div>
          <div class="text">
            After a childhood full of magnet programs, gifted programs, and high expectations, I got to high school where I was no longer the top of the totem pole on day 1.  I was surrounded with 
            some other students that worked so much harder than I did and by peers driven by goals I could not yet understand and appreciate.  For the first time, I saw myself as inadequate and as a failure in some ways. 
            It was a wonderful and humbling experience and I would recommend it to anyone.  I was discouraged at first and thought I had fallen behind and that I could never catch up, but I was not 
            going to sit down and give up.  High school forced me to step up and work my ass off for the first time in my life and I would not trade those years for anything.
            
            After I rose to the challenges of high school, I went to UCF's Burnett Honors college where I started a mechanical engineering degree.  I was surrounded by an overwhelming majority of students 
            that were not there to learn and after a year of nothing but group projects with peers I could not manage to motivate, I decided against another 3 years of the same for something I did 
            not particularly see myself enjoying the rest of my life doing.  I wandered a bit for the next 3 years, but I did enroll in education courses and met some very motivated and positive, caring people 
            whom helped influenced my decision to chase a long term education goal.  I often regret the time and money I spent in college without much productivity.  Having lived through that waste, I 
            did develop a firm appreciation for time and the opportunity costs that come with every decision.  I am very motivated to stay on the road forward and to never wander aimlessly again.
          </div>
          <div class="spacer">
            
          </div>
        </div>
        <div class="futurePlansContainer">
          <div class="header">
            The Way Forward
          </div>
          <div class="subHeader">
            What do I plan to do professionally for the next five years?
          </div>
          <div class="text">
            Professionally, I plan to pick up challenges for the next year or two while I grow into a leadership role.  I need to continue to grow as a coach myself and will be focusing on chasing 
            opportunities that will allow me to pursue that growth while I can also continue to grow as a developer.
          </div>
          <div class="subHeader">
            What will I be doing in my spare time?
          </div>
          <div class="text">
            Outside of raising my son, I plan to setup my syllabus for my homemade master of Business Administration in short order.  I also plan to continue to work on personal projects 
            that will challenge me and help me grow.  I will be doing some research and budgeting for the next year to help me better understand my best options for investments that will help 
            passively bring me closer to my financial goals while I actively chase my professional and academic goals.
          </div>
          <div class="subHeader">
            How can you help me?
          </div>
          <div class="text">
            The most helpful things in my life have been the coaches I have met along the way that have helped me pave my path.  
            I have an open door and am willing to hear out any suggestions and welcome any advice you might offer.
            If anyone out there is willing to help coach me now or down to the road to help me continue to move forward, please reach out and I will be excited to hear from you!
            Thank you very much!
          </div>
        </div>
      </div>
      <div class="navigationContainer">
        <div class="previewScrollerOuterContainer scrollControl">
          <div class="previewScrollerContainer">
            <img src="../assets/scroll_preview.png">
          </div>
        </div>
        <div class="scrollerCover scrollControl">

        </div>
        <div class="textOverlaysContainer scrollControl">
          <div class="introductionNavItem">
            Intro
          </div>
          <div class="goalsAndDreamsNavItem">
            Dreams
          </div>
          <div class="workHistoryNavItem">
            History
          </div>
          <div class="futurePlansNavItem">
            Plans
          </div>
        </div>
        <div class="scrollerOverlayContainer scrollControl">
          <div draggable="true" class="scrollerRegion"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="footerContentContainer">
    <div class="mediaContainer">
        <div class="emailContainer">
          <a href="mailto:brian@sullivandev.com">
            <img src="../assets/email_icon.png">
          </a>
        </div>
        <div class="linkedInContainer">
          <a href="https://www.linkedin.com/in/brian-sullivan-9326a6b5/" target="_blank">
            <img src="../assets/linked_in.png">
          </a>
        </div>
    </div>
  </div>

</div>



<router-outlet></router-outlet>