<script type="text/javascript" src="../assets/core.js"></script>

<script type="text/javascript" src="../assets/sd.js"></script>

<style>

  html {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  }

  .header {
    font-size: 2rem;
    margin-left: 1rem;
    width: calc( 100% - 1rem );
  }

  .subHeader {
    font-size: 1.5rem;
    margin-left: 2rem;
    width: calc( 100% - 2rem );
  }

  .text {
    font-size: 1rem;
    margin-left: 3rem;
    width: calc( 100% - 3rem );
    white-space: pre-line;
    margin-bottom: 2rem;
  }

  .header, .subHeader {
    margin-bottom: 1rem;
  }

  .spacer {
    height: 3rem;
    width: 100%;
    display: block;
  }

  .contentContainer {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
  }

    .titleBar {
      height: 3rem;
      width: 100%;
      font-size: 0px;
      background-color: #8d8d8d;
      color: white;
    }

      .titleBar > div {
        display: inline-block;
      }

      .titleIcon {
        height: 100%;
        width: 3rem;
      }

        .titleIcon img {
          width: 100%;
          height: 100%;
        }

      .titleText {
        height: 100%;
        width: calc( 100% - 4rem );
        font-size: 1.5rem;
        padding-left: 1rem;
        line-height: 3rem;
        vertical-align: top;
      }

    .mainContentOuterContainer {
      height: calc( 100% - 7rem );
      width: 100%;
    }

      .mainContentContainer {
        height: calc( 100% );
        width: calc( 100% );
        font-size: 0px;
      }

        .mainContentContainer > div {
          display: inline-block;
          vertical-align: top;
          font-size: 1rem;
        }

        .navigationContainer {
          width: 14rem;
          height: 100%;
          position: relative;
        }

          .previewScrollerContainer img {
            height: 100%;
            width: 100%;
          }

          .textOverlaysContainer {
            background-color: rgba(128, 128, 128, 0.20);
          }

          .scrollerCover {
            background-color: rgba(255, 255, 255, 0.75);
          }

          .navigationContainer .scrollControl {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 100%;
            height: 100%;
            text-align: center;
          }

          .navigationContainer .textOverlaysContainer > div {
            width: 100%;
            height: 2rem;
            display: block;
            line-height: 2rem;
            /*transition: background-color 500ms linear;*/
            text-indent: .5rem;
          }

          .navigationContainer .textOverlaysContainer > div:hover {
            /*background-color: rgba(160, 160, 160, 0.40);*/
            cursor: pointer;
            /*transition: background-color 500ms linear;*/
          }

          .scrollerRegion {
            background-color: rgba(185, 185, 185, 0.50);
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
          }

          .scrollerRegion:hover {
            background-color: rgba(150, 150, 150, 0.50);
            cursor: pointer;
          }

        .innerContentContainer {
          width: calc( 100% - 15rem );
          height: calc( 100% - 1rem );
          padding: .5rem;
          overflow: hidden;
        }

        .innerContentContainer > div {
          width: 100%;
          display: block;
        }

    .footerContentContainer {
      height: 3rem;
      display: table;
      width: 100%;
      background-color: #8d8d8d;
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

      .mediaContainer {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }

        .mediaContainer > div {
          display: inline-block;
          font-size: 0px;
          margin-left: 1rem;
          margin-right: 1rem;
        }

        .mediaContainer img {
          height: 3rem;
          width: 3rem;
          cursor: pointer;
        }

</style>

<div class="contentContainer">

  <div class="titleBar">
    <div class="titleIcon">
      <img src="../assets/SD_CV.png">
    </div>
    <div class="titleText">
      Brian Sullivan - Senior Full Stack Developer (.NET)
    </div>
  </div>

  <div class="mainContentOuterContainer">
    <div class="mainContentContainer">
      <div class="innerContentContainer">
        <div class="introductionContainer">
          <div class="header">
            Introduction
          </div>
          <div class="subHeader">
            Who am I?
          </div>
          <div class="text">
            I am Brian.
          </div>
          <div class="subHeader">
            What do I do?
          </div>
          <div class="text">
            I create applications.
          </div>
          <div class="subHeader">
            What matters to me?
          </div>
          <div class="text">
            Work hard, play hard.
          </div>
          <div class="subHeader">
            How can I help you?
          </div>
          <div class="text">
            If you have a problem, I can solve it.
          </div>
          <div class="spacer">
            
          </div>
        </div>
        <div class="goalsAndDreamsContainer">
          <div class="header">
            Dreams
          </div>
          <div class="subHeader">
            What work is worth waking up at 3 in the morning for?
          </div>
          <div class="text">
            Work worth doing.
          </div>
          <div class="subHeader">
            What is my 30 year goal?
          </div>
          <div class="text">
            Castle orphanage.  
            PHDs in Education (expertise in early childhood development) and business administration
          </div>
          <div class="subHeader">
            What is my 10 year goal?
          </div>
          <div class="text">
            Achieve a masters in education 
            (with expertise in early childhood development) 
            as well as business administration
          </div>
          <div class="subHeader">
            What is my 5 year goal?
          </div>
          <div class="text">
            Study for an offline MBA
            work on developing my managerial / administrative experience.
          </div>
          <div class="spacer">
            
          </div>
        </div>
        <div class="workHistoryContainer">
          <div class="header">
            The Road Thus Far
          </div>
          <div class="subHeader">
            What have I been doing professionally for the last five years?
          </div>
          <div class="text">
            Work worth doing.
          </div>
          <div class="subHeader">
            What do I do in my spare time?
          </div>
          <div class="text">
            Father.  
            Play with new technology.  
            Work on a variety of projects for fun and personal education.
          </div>
          <div class="subHeader">
            What were my high school and college experiences like?
          </div>
          <div class="text">
            High school opened so many doors for me.  
            College was a waste of my time (my fault).
          </div>
          <div class="spacer">
            
          </div>
        </div>
        <div class="futurePlansContainer">
          <div class="header">
            The Way Forward
          </div>
          <div class="subHeader">
            What do I plan to do professionally for the next five years?
          </div>
          <div class="text">
            Work worth doing.
          </div>
          <div class="subHeader">
            What will I be doing in my spare time?
          </div>
          <div class="text">
            Father.  
            Setup my offline MBA and begin the coursework.  
            Invest in the future.
          </div>
          <div class="subHeader">
            How can you help me?
          </div>
          <div class="text">
            The most helpful things in my life have been the coaches I have met along the way 
            that have helped me pave my path.  
            I have an open door and am willing to hear out any suggestions 
            and welcome any advice you might offer.
          </div>
        </div>
      </div>
      <div class="navigationContainer">
        <div class="previewScrollerContainer scrollControl">
          <img src="../assets/scroll_preview.png">
        </div>
        <div class="scrollerCover scrollControl">

        </div>
        <div class="textOverlaysContainer scrollControl">
          <div class="introductionNavItem">
            Intro
          </div>
          <div class="goalsAndDreamsNavItem">
            Dreams
          </div>
          <div class="workHistoryNavItem">
            History
          </div>
          <div class="futurePlansNavItem">
            Plans
          </div>
        </div>
        <div class="scrollerOverlayContainer scrollControl">
          <div draggable="true" class="scrollerRegion"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="footerContentContainer">
    <div class="mediaContainer">
        <div class="emailContainer">
          <img src="../assets/email_icon.png">
        </div>
        <div class="linkedInContainer">
          <img src="../assets/linked_in.png">
        </div>
    </div>
  </div>

</div>



<router-outlet></router-outlet>