
<style>

  html {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  }

  .contentContainer {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
  }

    .titleBar {
      height: 3rem;
      width: 100%;
      font-size: 0px;
      background-color: #626262;
      color: white;
    }

      .titleBar > div {
        display: inline-block;
      }

      .titleIcon {
        height: 100%;
        width: 3rem;
      }

        .titleIcon img {
          width: 100%;
          height: 100%;
        }

      .titleText {
        height: 100%;
        width: calc( 100% - 4rem );
        font-size: 1.5rem;
        padding-left: 1rem;
        line-height: 3rem;
        vertical-align: top;
      }

    .mainContentOuterContainer {
      height: calc( 100% - 7rem );
      width: 100%;
    }

      .mainContentContainer {
        height: calc( 100% - 1rem );
        width: calc( 100% - 1rem );
        padding: .5rem;
      }

    .footerContentContainer {
      height: 3rem;
      display: table;
      width: 100%;
      background-color: #626262;
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

      .mediaContainer {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }

        .mediaContainer > div {
          display: inline-block;
          font-size: 0px;
          margin-left: 1rem;
          margin-right: 1rem;
        }

        .mediaContainer img {
          height: 3rem;
          width: 3rem;
          cursor: pointer;
        }

</style>

<div class="contentContainer">

  <div class="titleBar">
    <div class="titleIcon">
      <img src="../assets/SD_CV.png">
    </div>
    <div class="titleText">
      Brian Sullivan - Senior Full Stack Developer (.NET)
    </div>
  </div>

  <div class="mainContentOuterContainer">
    <div class="mainContentContainer">
      CV goes here
    </div>
  </div>

  <div class="footerContentContainer">
    <div class="mediaContainer">
        <div class="emailContainer">
          <img src="../assets/email_icon.png">
        </div>
        <div class="linkedInContainer">
          <img src="../assets/linked_in.png">
        </div>
    </div>
  </div>

</div>



<router-outlet></router-outlet>